body {
	background-color: #eeeeee;
	position: flex;
}

footer {
	display: block;
}

.navbar {
	background-color: #f59f08;
	border: 0;
	border-radius: 0;
}

.t-content {
	max-width: 1200px;
}

.t-logo_nav {
	width: 147px;
	height: 40px;
	margin: 5px;
}

.t-inline {
	display: inline-block;
}

.t-footer {
	position: flex;
    left: 0;
    right: 0;
    bottom: 0;
	background-image: url(../../assets/images/app/bg_footer.png);
	background-repeat: repeat-x;
	background-size: 740px 220px;
	height: 220px;
	color: white;
}

.t-footer .container {
	padding-top: 180px; 
}

.t-avatar-navbar {
	height: 30px;
	width: 30px;
	margin: -5px 5px;
	border-radius: 50%;
}

@media (min-width: 1200px) {
	.t-search-box {
		width: 500px;
	}
}

.t-wrapper{
	background-color: #f6f6f6;
	margin: 10px auto 140px auto;
	border-color: #dadada;
	height: 100%;
}
.t-body{
    max-width: 100%;
    margin: 0px auto 0px auto;
    background-color: #ffffff;
    display: flex;
}
.t-col-9{
    background-color: #f9f9f9;
    margin: 30px 25px 0px 10px;
    padding-top: 30px;
}

.t-panel-header{
	padding: 10px 10px 0px 10px;
	font-weight: bold;
}

.t-danhmuchinhanh{
	padding-left: 20px;
}
.t-gio{
    padding-left: 0px;
}

.t-btn-default{
	background: url(../../assets/images/app/backgroundOrange.PNG) repeat scroll left ;
	color: #ffffff;
	padding: 5px 19px;
	margin-top: 15px;
	margin-bottom: 20px;
	margin-left: 10px;
	font-weight: bold;
}

.t-btn {
	background: url(../../assets/images/app/backgroundDatlai.PNG) repeat scroll left ;
	padding: 5px 15px;
	margin-top: 15px;
	margin-left: 10px;
	margin-bottom: 20px;
	width: 118px;
}
.t-avatar{
	margin: 30px 20px 0px 25px;
	border: 1px solid #e6e6e6;
	background-color: #e6e6e6;
	width: 80%;
	height: 26%;
	position: relative;
}
.t-lbavatar{
	font-size: 13px;
	padding-left: 44px;
	padding-top: 7px;
}
 .t-imgavatar{
 	width: 35px;
 	height: 35px;
 	position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
 	
 }
 .t-listimg{
 	margin: 0px 20px 0px 23px;
	border: 1px solid #e6e6e6;
	background-color: #ffffff;
	width: 292px;
	height: 300px;
	position: relative;
 }
 .t-div-btn{
 	max-width: 100%;
    background-color: #ffffff;
    padding-left: 74%;
    display: flex;
 }

 .t-diadiemcho{
 	border: 1px solid #f2f2f2;
 	box-shadow: 2px 2px #eeeeee;
 	width: 95%;
 	margin: 28px auto 10px auto;
 }

.t-imgdiadiemcho{
	margin-top: 15px;
	height: 120px;
	width: 100%;
	clear: both;
	position: absolute;
}

.t-user{
	border-radius: 18px;
	width: 40px;
	height: 40px;
	margin: 7px 7px 10px 15px;
}

.t-col-3{
	width: 25%;
	float: left;
}
.t-username{
	color: #0569c7;
}
.t-telephone{
	color: #2f7bb8;
}
.t-infodiadiemcho{
	margin-left: 10px;
	margin-top: 15px;
}
.t-btndiadiemcho{
	padding-left: 7%;
}

/* phần của tuấn*/
.t-logo_middle {
	margin: 15px;
}

.t-register-panel {
	max-width: 850px;
	background-color: rgba(250,250,250, 0.9);
}
.t-footer-register {
	position: relative;
    left: 0;
    right: 0;
    bottom: 0;
	background-image: none !important;
	color: white;
}

.t-bg-register {
	background: url(../../assets/images/app/bg_register_login.jpg) no-repeat fixed center;
}

.t-login-panel {
	padding: 40px;
}

h1, h2 {
	color: white;
	text-align: center;
}
/* hết phần của tuấn*/
