body {
	background-color: #eeeeee;
	position: flex;
}

footer {
	display: block;
}

.navbar {
	background-color: #f59f08;
	border: 0;
	border-radius: 0;
}

.t-content {
	max-width: 1200px;
}

.t-logo_nav {
	width: 147px;
	height: 40px;
	margin: 5px;
}

.t-inline {
	display: inline-block;
}

.t-footer {
	position: relative;
    left: 0;
    right: 0;
    bottom: 0;
	background-image: url(../../assets/images/app/bg_footer.png);
	background-repeat: repeat-x;
	background-size: 740px 220px;
	height: 220px;
	color: white;
}

.t-footer .container {
	padding-top: 180px; 
}

.t-avatar-navbar {
	height: 30px;
	width: 30px;
	margin: -5px 5px;
	border-radius: 50%;
}

@media (min-width: 1200px) {
	.t-search-box {
		width: 500px;
	}
}
/* phần của Vương*/
.t-wrapper{
	background-color: #f6f6f6;
	margin: 10px auto;
	border-color: #dadada;
	height: 100%;
}
.t-body{
    max-width: 100%;
    margin: 0px auto 0px auto;
    background-color: #ffffff;
    display: flex;
}
.t-col-9{
    background-color: #f9f9f9;
    margin: 30px 25px 0px 10px;
    padding-top: 30px;
}

.t-panel-header{
	padding: 10px 10px 7px 10px;
	font-weight: bold;
}
.t-danhmuchinhanh{
	padding-left: 20px;
}

.t-btn-default, .t-btn-default:visited {
	background: url(../../assets/images/app/backgroundOrange.PNG) repeat scroll left ;
	color: #ffffff !important;
	font-weight: bold;
	border-color: #F59F08 !important;
}

.t-btn-default:hover {
	background: url(../../assets/images/app/backgroundOrangeHover.PNG) repeat scroll left ;
	color: #ffffff !important;
}

.t-btn-default:active {
	background: url(../../assets/images/app/backgroundOrangePress.PNG) repeat scroll left ;
	color: #ffffff !important;
}

.t-btn {
	background: url(../../assets/images/app/backgroundDatlai.PNG) repeat scroll left ;
	margin-left: 5px;
	padding: 6px 20px;
}

.t-btnxoa {
	background: url(../../assets/images/app/backgroundDatlai.PNG) repeat scroll left ;
}
.t-avatar{
	margin: 0 auto;
	border: 1px solid #e6e6e6;
	background-color: white;
	width: 200px;
	height: 200px;
	background: url(../../assets/images/app/img.PNG) no-repeat center;
	cursor: pointer;
	
}
.t-lbavatar{
	font-size: 13px;
	padding-top: 5px;
	font-style: italic;
	text-align: center;
}

 .t-listimg{
 	margin: 0px 20px 0px 23px;
	border: 1px solid #e6e6e6;
	background-color: #ffffff;
	width: 292px;
	height: 300px;
	position: relative;
 }
 .t-div-btntaodiadiem{
    max-width: 100%;
    background-color: #ffffff;
    padding: 15px 2% 15px 77%;
    display: flex;
 }

 .t-diadiemcho{
 	border: 1px solid #f2f2f2;
 	box-shadow: 2px 2px #eeeeee;
 	width: 95%;
 	margin: 14px auto 5px auto;
 }

.t-imgdiadiemcho{
	margin-top: 15px;
	height: 120px;
	width: 100%;
	clear: both;
	position: absolute;
}

.t-user{
	border-radius: 18px;
	width: 40px;
	height: 40px;
	margin: 7px 7px 10px 15px;
}

.t-col-3{
	width: 25%;
	float: left;
}

.t-username{
	color: #0569c7;
}

.t-telephone{
	color: #2f7bb8;
}

.t-infodiadiemcho{
	margin-left: 10px;
	margin-top: 15px;
}

.t-btndiadiemcho{
	float: right;
	padding: 15px 0;
}

.t-divanhbia{
	background: url(../../assets/images/app/bg_register_login.jpg) no-repeat scroll center;
	max-width: 100%;
	height: 200px;
	margin-bottom: 20px;
}
.t-col-2{
	width: 16.66666667%;
	height: 100%;
	float: left;
}
.t-infoavatar{
	border-radius: 70%;
	width: 80%;
	height: 80%;
	margin: 20px 20px 20px 15px;
}
.t-header-infor{
	padding-top: 5%;
	padding-bottom: 20px;
	color: #ffffff;
	font-size: 30px;
	text-shadow:  2px 2px 2px #dddddd;
}

.t-panel-infor{
	width: 90%;
	font-size: 23px;
}

.t-col-7{
	width: 58.33333333%;
	height: 100%;
	float: left;
	padding-left: 10px;
}

.t-col-3{
	width: 25%;
	height: 100%;
	float: left;
}

.t-body-infor{
	color: #ffffff;
	font-size: 18px;
	text-shadow: 1px 1px 1px #dddddd;
}

.t-btn-moreinfor, .t-btn-moreinfor:visited{
	background-color: #7f4e0c;
	opacity: 0.4;
	border-color: #ffffff;
	color: #ffffff !important;
	padding: 5px 15px;
	margin-left: 50%;
}

.t-btn-moreinfor:active {
	background-color: #583e04;
	color: #ffffff !important;
}
.t-top{
	width: 100%;
	height: 80%;
	padding: 10px 15px 0px 15px;
}
/* Chia thành từng phần mà không cần margin*/
.t-bottom{
	width: 100%;
	padding: 10px 15px 0px 15px;
}

.t-header-infordetail{
	padding-top: 10px;
	padding-left: 10%;
	padding-bottom: 20px;
	font-size: 23px;
}
.t-infordetail{
	padding-left: 10%;
}
td{
	padding: 5px 20px;
	font-size: 17px;
}
.t-btn-editinfor, .t-btn-editinfor:visited{
	background: url(../../assets/images/app/backgroundOrange.PNG) repeat scroll left ;
	color: #ffffff !important;
	font-weight: bold; 
}
.t-btn-editinfor:hover {
	background: url(../../assets/images/app/backgroundOrangeHover.PNG) repeat scroll left ;
	color: #ffffff !important;
}

.t-btn-editinfor:active {
	background: url(../../assets/images/app/backgroundOrangePress.PNG) repeat scroll left ;
	color: #ffffff !important;
}

.t-btn-resetpassword, .t-btn-resetpassword:visited{
	background: url(../../assets/images/app/backgroundOrange.PNG) repeat scroll left ;
	color: #ffffff !important;
	font-weight: bold; 
	padding:6px 35px 6px 35px;
	margin-left: 3px;
}

.t-btn-resetpassword:hover {
	background: url(../../assets/images/app/backgroundOrangeHover.PNG) repeat scroll left ;
	color: #ffffff !important;
}

.t-btn-resetpassword:active {
	background: url(../../assets/images/app/backgroundOrangePress.PNG) repeat scroll left ;
	color: #ffffff !important;
}

.t-divbtntrangcanhan{
	max-width: 100%;
    background-color: #ffffff;
    padding: 15px 2% 15px 70%;
    display: flex;
}

.t-editinfor{
	width: 58.33333333%;
	height: 100%;
	padding-left: 10%;
	margin-top: 15px;
}

.t-editpassword{
	width: 58.33333333%;
	height: 100%;
	padding-left: 30%;
	margin-top: 15px;
}
/*CSS Mon an*/
/*div avartar cua info monan*/
.t-divavartarmonan{
	width: 18%;
	height: 100%;
	float: left;
}
/*imageavartar cua info monan*/
.t-imgavatarmonan{
	border-radius: 65%;
	width: 100%;
	height: 100%;
	margin-top: 5px;
}
/*detail infor cua info monan*/
.t-detailmonan{
	margin-top: 20px;
	margin-left: 20px;
	color: white;
}
/*dtb của info monan*/
.t-monan-avescore{
	border: 10px solid #f59f08;
	border-radius: 50%;
	color: white;
	background-color: #f59f08;
	font-size: 30px;
	font-weight: bold;
	height: 60px;
	width: 60px;
	text-align: center;
	line-height: 45px;
}
/*avartar của suamonan*/
.t-imgsuamonan{
	width: 60%;
	height: 40%;
	background-color: #dddddd;
}

/* phần của tuấn*/
.t-logo_middle {
	margin: 15px;
}

.t-register-panel {
	max-width: 850px;
	background-color: rgba(250,250,250, 0.9);
	border-radius: 10px;
}
.t-footer-register {
	position: relative;
    left: 0;
    right: 0;
    bottom: 0;
	background-image: none !important;
	color: white;
}

.t-bg-register {
	background: url(../../assets/images/app/bg_register_login.jpg) no-repeat fixed center;
}

.t-login-panel {
	padding: 40px;
}

h1, h2 {
	color: white;
	text-align: center;
}

.t-diadiem-wrapper {
	background-color: #fafafa;
	display: table;
	margin-top: -20px;
	border: 1px solid #eeeeee;
}

.t-diadiem-img-avatar {
	height: 180px;
	width: 180px;
	background-color: #aaa;
	margin: 0px 30px;
}
.t-diadiem-info {
	margin: 30px 0 20px 0;
	padding: 0;
}
.t-diadiem-info-panel {
	background-color: white;
	height: 180px;
	padding: 15px 25px;
	border: 1px solid #ddd;
}
.t-diadiem-info-panel-left {
	float: left;
}
.t-diadiem-info-panel-right {
	float: right;
}
.t-diadiem-avescore {
	border: 10px solid #f59f08;
	border-radius: 50%;
	color: #f59f08;
	font-size: 60px;
	font-weight: bold;
	height: 120px;
	width: 120px;
	text-align: center;
	line-height: 100px;
}
.t-diadiem-avescore-description {
	font-style: italic;
	text-align: center;
	font-size: 13px;
	margin-top: 10px;
}
.t-diadiem-name {
	font-size: 26px;
	font-weight: bold;
}
.t-diadiem-name ~ div {
	margin: 5px 0;
}
.t-diadiem-menu {
	margin: 0px 45px 20px;
	width: 180px;
	padding: 0;
}
.t-diadiem-menu a{
	color: #474747;
}
.t-diadiem-menu .active {
	background-color: #f2f1f1;
	border-left: 5px solid #f59f08;
	font-weight: bold;
}
.t-diadiem-content {
	padding: 0;
}
.t-danhgia-count {
	margin: 10px 0;
}
.t-diadiem-content-right {
	padding-right: 0;
}
.t-danhgia-tieuchi {
	margin: 10px 0;
}
.t-danhgia-tieuchi-header {
	overflow: auto;
	margin-bottom: 5px;
}
.t-danhgia-tieuchi-header-score {
	color: #f59f08;
}
.t-danhgia-progress {
	height: 9px !important;
	background-color: #f4f4f4 !important;
	border-radius: 0 !important;
}
.t-danhgia-progressbar {
	background-color: #f59f08 !important;
}
.t-danhgia-diemtb {
	font-size: 45px;
	font-weight: bold;
	color: #f59f08;
}
.t-danhgia-item-avatar {
	width: 40px;
}
.t-danhgia-item-avatar img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.t-danhgia-item-heading {
	margin: 0 10px;
}
.t-danhgia-username {
	font-weight: bold;
}
.t-danhgia-date {
	font-size: 90%;
	color: #919191;
}
.t-danhgia-diem {
	background-color: #f59f08;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
	height: 35px;
	width: 35px;
}
.t-danhgia-diem > div {
	line-height: 35px;
	vertical-align: middle;
	text-align: center;
	color: white;
}
.t-danhgia-item-content-heading {
	font-weight: bold;
	margin-bottom: 5px;
}
.t-danhgia-item-content-body {
	margin: 10px 0;
}
.t-like-count {
	color: #5890ff;
}
.t-like-panel{
	overflow: auto;
	vertical-align: middle;
}
.t-like-count > img {
	height: 16px;
	width: 16px;
}
.t-comment {

}
.t-comment-avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.t-comment-heading {
	overflow: auto;
	margin: 0 10px 10px;
}
.t-comment-body {
	margin: 10px 0;
}
.t-map {
	width: 100%;
	height: 500px;
}
.t-thucdon-item {
	margin: 10px;
	border: 1px solid #ddd;
	overflow: auto;
}
.t-thucdon-item-avatar {
	margin: 10px;
}
.t-thucdon-item-avatar img {
	height: 120px;
	width: 120px;
}
.t-thucdon-item-content {
	margin: 10px;
}
.t-thucdon-item-content div {
	margin: 5px 0;
}
.t-thucdon-item-monan {
	font-weight: bold;
	font-size: 24px;
}
#ex1Slider .slider-selection {
	background: #BABABA;
}
/* hết phần của tuấn*/
